@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

/* * {
  outline: 1px solid red;
} */

@theme {
  /* Custom breakpoints */
  --breakpoint-lg: 90rem; /* 1440px */

  /* Colors */
  --color-grey-900: #151515;
  --color-grey-700: #444444;
  --color-gold-500: #d5966c;

  /* Typography */
  --font-family-shoulders: "Big Shoulders", sans-serif;
  --font-family-outfit: "Outfit", sans-serif;

  --font-preset-1-font-family: var(--font-family-shoulders);
  --font-preset-1-font-size: 60px;
  --font-preset-1-line-height: 90%;
  --font-preset-1-letter-spacing: 0px;
  --font-preset-1-font-weight: 900;

  --font-preset-2-font-family: var(--font-family-shoulders);
  --font-preset-2-font-size: 55px;
  --font-preset-2-line-height: 90%;
  --font-preset-2-letter-spacing: 0px;
  --font-preset-2-font-weight: 900;

  --font-preset-3-font-family: var(--font-family-shoulders);
  --font-preset-3-font-size: 50px;
  --font-preset-3-line-height: 90%;
  --font-preset-3-letter-spacing: 0px;
  --font-preset-3-font-weight: 900;

  --font-preset-4-font-family: var(--font-family-shoulders);
  --font-preset-4-font-size: 36px;
  --font-preset-4-line-height: 100%;
  --font-preset-4-letter-spacing: 0px;
  --font-preset-4-font-weight: 900;

  --font-preset-5-font-family: var(--font-family-outfit);
  --font-preset-5-font-size: 22px;
  --font-preset-5-line-height: 140%;
  --font-preset-5-letter-spacing: 0px;
  --font-preset-5-font-weight: 300;

  --font-preset-6-font-family: var(--font-family-shoulders);
  --font-preset-6-font-size: 20px;
  --font-preset-6-line-height: 100%;
  --font-preset-6-letter-spacing: 3.64px;
  --font-preset-6-font-weight: 800;

  --font-preset-7-font-family: var(--font-family-outfit);
  --font-preset-7-font-size: 18px;
  --font-preset-7-line-height: 140%;
  --font-preset-7-letter-spacing: 0px;
  --font-preset-7-font-weight: 300;

  /* Spacing scale */
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;

  /* Radius scale */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

/* Text Presets */
.text-preset-1 {
  font-family: var(--font-preset-1-font-family);
  font-size: var(--font-preset-1-font-size);
  line-height: var(--font-preset-1-line-height);
  letter-spacing: var(--font-preset-1-letter-spacing);
  font-weight: var(--font-preset-1-font-weight);
}

.text-preset-2 {
  font-family: var(--font-preset-2-font-family);
  font-size: var(--font-preset-2-font-size);
  line-height: var(--font-preset-2-line-height);
  letter-spacing: var(--font-preset-2-letter-spacing);
  font-weight: var(--font-preset-2-font-weight);
}

.text-preset-3 {
  font-family: var(--font-preset-3-font-family);
  font-size: var(--font-preset-3-font-size);
  line-height: var(--font-preset-3-line-height);
  letter-spacing: var(--font-preset-3-letter-spacing);
  font-weight: var(--font-preset-3-font-weight);
}

.text-preset-4 {
  font-family: var(--font-preset-4-font-family);
  font-size: var(--font-preset-4-font-size);
  line-height: var(--font-preset-4-line-height);
  letter-spacing: var(--font-preset-4-letter-spacing);
  font-weight: var(--font-preset-4-font-weight);
}

.text-preset-5 {
  font-family: var(--font-preset-5-font-family);
  font-size: var(--font-preset-5-font-size);
  line-height: var(--font-preset-5-line-height);
  letter-spacing: var(--font-preset-5-letter-spacing);
  font-weight: var(--font-preset-5-font-weight);
}

.text-preset-6 {
  font-family: var(--font-preset-6-font-family);
  font-size: var(--font-preset-6-font-size);
  line-height: var(--font-preset-6-line-height);
  letter-spacing: var(--font-preset-6-letter-spacing);
  font-weight: var(--font-preset-6-font-weight);
}

.text-preset-7 {
  font-family: var(--font-preset-7-font-family);
  font-size: var(--font-preset-7-font-size);
  line-height: var(--font-preset-7-line-height);
  letter-spacing: var(--font-preset-7-letter-spacing);
  font-weight: var(--font-preset-7-font-weight);
}

/* Tablet and up */
@media (min-width: 768px) {
  .text-preset-1 {
    font-size: 70px;
  }
}

/* Desktop and up */
@media (min-width: 1440px) {
  .text-preset-1 {
    font-size: 96px;
  }

  .text-preset-2 {
    font-size: 70px;
    line-height: 100%;
  }

  .text-preset-3 {
    font-size: 60px;
    line-height: 100%;
  }
}

.text-desktop-lg {
  @media (min-width: 1440px) {
    font-family: var(--font-preset-5-font-family);
    font-size: var(--font-preset-5-font-size);
    line-height: var(--font-preset-5-line-height);
    font-weight: var(--font-preset-5-font-weight);
    letter-spacing: var(--font-preset-5-letter-spacing);
  }
}
